* {
    box-sizing: border-box;
}

li {
    font-size: 1.31rem;
    font-weight: 400;
}


body {
    font-family: 'Open Sans';
    font-weight: 400; 
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.06rem;
    font-weight: 300;
}


p {
    font-size: 1.13rem;
}


.headerbar {
    background-color: #FFF0ED;
     margin: 0;
     /* padding-bottom: 1.5%; */
     width: 100%;
     height: 100px;
     /* padding: 1% 0 0 2%; */
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     flex-wrap: nowrap;
     /* vertical-align: bottom; */
   
}

.headerbar__logo {
    padding: 1% 0 0 1%;
}

.headerbar__logo-icon {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0 0 7% 0;
    display: inline-block;
    vertical-align: bottom;
}

.headerbar__logo-wordmark {
    font-size: 3.1rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #353535;

}

.headerbar__nav {
    margin: 0;
    padding: 0%;
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
}

.headerbar__links--reg {
    margin: 0 0 20px 0;
    padding-left: 1%;
    padding-right: 1.5%;
    display: inline;
    color: #353535;
    width: max-content;
    list-style-type: none;
}


.headerbar__links--action {
    color: #5bacc3;
    width: max-content;
    list-style-type: none;

}


a {
    padding: 0% 0%;
    margin: 0% 0%;
    text-decoration: none;
}


.headerbar__links--reg:visited {
    color: rgb(53, 53, 53);
}

.headerbar__links--action:visited {

    color: #5bacc3;
}

/* styles from before adding flexbox */
/* .headerbar {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1% 0 0 2%;
    display: inline-block;
    vertical-align: bottom;

}

.headerbar__logo-icon {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0 0 7% 0;
    display: inline-block;
    vertical-align: bottom;
}

.headerbar__logo-wordmark {
    font-size: 3.1rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #353535;

}

.headerbar__nav {
    margin: 0 0 20px 0;
    height: 300px;
    padding-left: 1%;
    display: inline;
}

.headerbar__links {
    margin: 0 0 20px 0;
    padding-left: 1%;
    padding-right: 1.5%;
    display: inline;
    color: #353535;
}

#headerbar__links--action {
    color: #5bacc3;

}

a {
    padding: 0% 0%;
    margin: 0% 0%;
    text-decoration: none;
}

li a:visited {
    color: rgb(53, 53, 53);
} */